.aboutImage{
    display: block;
    margin: auto;
    float: right;
    max-height: 100%;
}
/* .aboutRow {
    margin: auto;
} */

.aboutCol{
    color: white;
}

.aboutCard {
    background-color: #001133;
}
