.aboutImage{
    display: block;
    margin: auto;
    float: right;
    max-height: 100%;
}
.aboutRow {
    /* margin: auto; */
}

.aboutCol{
    color: white;
}

.aboutCard {
    background-color: #001133;
}

.sourceAnchor {
    text-decoration: none;
    color: white;
}

.sourceAnchor:hover {
    color: white;
}

.bannerContainer {
    text-align: center;
}

.bannerImage {
    width: 75%;
}